.inputs{
	display: flex;
	text-align: center;
}

.form{
	display:flex;
	flex-direction: column;
	gap:1rem;
	width: 50%;
	margin: auto;
}

.switchDiv{
	display: flex;
	text-align: center;
	margin: auto;
	width: 50%;
}


/*#customerId, #name{
	background-color: rgb(209, 211, 213);
	border: 2px solid white;
	padding: 1rem 1.8rem;
	outline: none;
	font-weight: 600;
}*/

input[type="text"]{
	text-align: center;
}